# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class
*.exe

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env

# Ignore the build directory
/dist/
/build/
